---
/**
 * Componente wrapper para el chatbot de Pipedrive
 * Este componente proporciona un contenedor posicionado que muestra el chatbot
 */
import PipedriveChat from './PipedriveChat.astro';
---

<div class="fixed bottom-4 right-4 z-50">
  <PipedriveChat />
</div>
